<nav class="navbar navbar-dark bg-primary navbar-expand-md position-relative overflow-hidden">
    <canvas id="snow-canvas" style="position:absolute;left:0;top:0;width:100%;height:100%;pointer-events:none;z-index:2;"></canvas>
    <div class="container position-relative" style="z-index:3;">
        <a class="navbar-brand" href="index.html">
            <img src="../assets/img/penguin.webp" alt="Pingüino" style="height: 2rem; vertical-align: middle; margin-right: 0.5em;">
            <span class="brand-nombre">
                <span class="brand-tecno">Tecno</span>
                <span class="brand-sur">Sur</span>
                <span class="brand-parana">Paraná</span>
            </span>
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link active px-3" aria-current="page" href="index.html">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link px-3" href="sobre-nosotros.html">Nosotros</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link px-3" href="contacto.html">Contacto</a>
                </li>
            </ul>
        </div>
    </div>
</nav>